* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #292929;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    padding: 20px;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    pointer-events: none;
}

.box {
    margin-bottom: 20px;
    width: 400px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-image: url("./images/hangman-0.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.word_display {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 5px solid rgb(182, 182, 182);
    background-color: #454545;
    padding-inline: 5px;
    border-radius: 10px;
    height: 60px;
    pointer-events: none;
}

.keyboard {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.letter {
    height: 50px;
    width: 50px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border: 3px solid rgb(136, 136, 136);
    border-radius: 10px;
    background-color: #636363;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.letter:hover {
    border: 3px solid rgb(255, 255, 255);
    background-color: #454545;
}

.start_button {
    border-radius: 10px;
    border: 3px solid rgb(153, 153, 153);
    height: 50px;
    width: 200px;
    font-size: 30px;
    transition: 0.2s;
}

.start_button:hover {
    background-color: #646464;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}

.result_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.9);
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.result_content {
  text-align: center;
  background: #222;
  padding: 30px 50px;
  border-radius: 12px;
  box-shadow: 0 0 10px black;
}

.result_content h2 {
  font-size: 40px;
  margin-bottom: 20px;
  pointer-events: none;
}

.result_content button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: lightgreen;
  border: 3px solid green;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.result_content button:hover {
  background-color: green;
  border: 3px solid lightgreen;
  color: white;
}
